<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
    </body>
</html>-->

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="activeTab='MATAKULIAH'">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div layout:fragment="content">
            <!--content-header-->
            <section class="content-header">
                <h1>
                    list
                    <small>list Mata Kuliah</small>
                </h1>
                <br>
                <ol class="breadcrumb">
                    <li><a><i class="fa fa-dashboard"></i> Mata Kuliah</a></li>
                    <li>list</li>
                </ol>
            </section>
            <!-- main content-->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <a th:href="@{/matakuliah/form}" class="btn btn-primary">Tambah Mata Kuliah</a>
                        <br>
                        <br>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form th:action="@{/matakuliah/list}" method="get">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input type="text" name="kode" th:value="${param.kode}" class="form-control" autocomplete="off">
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th class="col-md-2">Kode</th>
                                            <th class="col-md-2">Nama</th>
                                            <th class="col-md-2">Waktu</th>
                                            <th class="col-md-2">Dosen</th>
                                            <th class="col-md-2">Ruangan</th>
                                            <th><center>Aksi</center></th>
                                        </tr>
                                        <tr th:each="data : ${datas}">
                                            <td th:text="${data.kode}">002</td>
                                            <td th:text="${data.nama}">003</td>
                                            <td th:text="${data.waktu}">004</td>
                                            <td th:if="${data.dosen.nama != null}" th:text="${data.dosen.nama}">005</td>
                                            <td th:if="${data.dosen.nama == null}">Tidak Ada Dosen</td>
                                            <td th:if="${data.ruangan.kodeRuangan != null}" th:text="${data.ruangan.kodeRuangan}">006</td>
                                            <td th:if="${data.ruangan.kodeRuangan == null}">Tidak Ada Ruangan</td>
                                            <td>
                                        <center>
                                            <a th:href="@{/matakuliah/form(id = ${data.id})}" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a th:href="@{/matakuliah/delete/} + ${data.id}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                        </center>
                                    </td>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="text-center" th:if="${not #lists.isEmpty(datas.content) and datas.totalPages &gt; 1}">
                                    <nav>
                                        <ul class="pagination" sd:pagination="full"></ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>

